{{template "base" .}}

{{define "content"}}
<div class="card mb-4">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h4 class="card-title mb-0">New  Account</h4>
    </div>
    <div class="card-body">
        <div class="container">
            {{$customers := index .Data "customers"}}
            <form action="/accounts/create" method="post">
                <div class="form-group" style="margin-bottom:10px;">
                    <label for="user_id">Customer:</label>
                    <select class="form-select" id="user_id" name="user_id"required>
                        <option  ></option>
                         {{range $customers}}
                        <option value="{{.ID}}">{{.FirstName}} {{.LastName}}</option>
                          {{end}}
                    </select>
                </div>

                <div class="form-group" style="margin-bottom:10px;">
                    <label for="account_type">Account Type:</label>
                    <select class="form-select" id="account_type"  name="account_type" required>
                      <option  ></option>
                        <option value="checking">Checking</option>
                        <option value="checking">Saving</option>
                   
                    </select>

                    <div class="form-group" style="margin-bottom:10px;">
                        <label for="amount" class="form-label">Amount</label>
                        <input type="number" class="form-control" id="amount" name="amount" required>
                    </div>


                    <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            </div>
        </div>
    </div>
{{end}}
