{{template "base" .}}

{{define "content"}}
<div class="container">
    <div class="card mb-4">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h4 class="card-title mb-0">Customer Details</h4>
        </div>
        <div class="card-body">

            {{$res := index .Data "customer"}}
            <div class="container">
                <dl class="row">
                    <dt class="col-sm-3">First Name:</dt>
                    <dd class="col-sm-9">{{$res.FirstName}}</dd>

                    <dt class="col-sm-3">Last Name:</dt>
                    <dd class="col-sm-9">{{$res.LastName}}</dd>

                    <dt class="col-sm-3">Username:</dt>
                    <dd class="col-sm-9">{{$res.Username}}</dd>

                    <dt class="col-sm-3">Email Address:</dt>
                    <dd class="col-sm-9">{{$res.Email}}</dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="card card-raised">
        <div class="card-header bg-primary text-white px-4">
            <div class="d-flex justify-content-between align-items-center">
                <div class="me-4">
                    <h5 class="card-title text-white mb-0">Accounts</h5>

                </div>
                <div class="d-flex gap-2">
                    <a class="btn btn-sm btn-warning" type="button"> New Account</a>
                </div>
            </div>
        </div>
        <div class="card-body p-4">

            <div class="datatable-wrapper datatable-loading no-footer sortable searchable fixed-columns">

                <div class="datatable-container">
                    <table id="datatablesSimple">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Account Type</th>
                                 <th>Account Status</th>
                                <th>Balance</th>
                                <th>Actions</th>
                            </tr>
                        </thead>

                        <tbody>

                            {{$accounts := index .Data "accounts"}} {{range $accounts}}
                            <tr>
                                <td>{{.ID}}</td>
                                <td>{{.User.FirstName}}</td>
                                <td>{{.User.LastName}}</td>
                                <td>{{.AccountType}}</td>
                                <td>{{.AccountStatus}}</td>
                                <td>{{.Amount}}</td>
                                <td>
                                    <div class="btn-group" role="group" aria-label="Basic outlined example">
                                        <a href="/accounts/view/{{.ID}}" class="btn btn-outline-primary">View</a>
                                        <a href="/accounts/edit/{{.ID}}" class="btn btn-outline-primary">Edit</a>
                                  
                                    </div>
                                </td>

                            </tr>
                            {{end}}
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

{{end}}
